<ul class="effort-impact-matrix list-reset mr-4 text-xs">
  <li class="luxury font-bold text-white text-center p-1">1,042</li>
  <li class="strategic font-bold text-white text-center p-1">0</li>
  <li class="easy-win font-bold text-white text-center p-1">1</li>
  <li class="high-roi font-bold text-white text-center p-1">18</li>
</ul>
<div class="issues--bugs whitespace-no-wrap leading-normal">
  {{fa-icon 'bug' fixedWidth=true transform='shrink-4' class='text-red'}}{{removeWhitespace ~}}
  <strong class="text-xs">3</strong>
</div>
<div class="issues--untagged whitespace-no-wrap leading-normal">
  <span class="fa-layers fa-fw">
    {{fa-icon 'tag' fixedWidth=true class='text-orange-lighter'}}
    {{fa-icon 'question' fixedWidth=true class='text-orange-light' transform='shrink-9 rotate-45'}}
  </span>{{removeWhitespace ~}}
  <strong class="text-xs">7</strong>
</div>
