<td class="product-name font-bold text-lg">
  {{if firstRepo projectName}}
</td>

<td class="repo-name font-mono {{unless firstRepo 'border-t border-light-gray'}}">
  <a href="https://github.com/NYCPlanning/{{model.id}}" target="_blank">{{fa-icon 'github' prefix='fab'}}/{{model.id}}</a>
</td>

{{!-- Branch Widget --}}
{{branch-widget model=model}}

{{!-- Issues Widget --}}
{{issue-widget model=model}}
