<div class="transition mb-0 mt-0 group {{if expanded 'mb-3 mt-3 -ml-1 -mr-1'}} hover:shadow-md">
  <div class="bg-white cursor-pointer border border-b-0 p-3 shadow">
    <div class="group flex items-center">
      <div class="flex-1 flex flex-row items-center content-center">
        <img 
          class="m-1" 
          src="https://circleci.com/gh/NYCPlanning/labs-zola.svg?style=svg"
        />
        <span class="font-bold transition-faster group-hover:text-lg {{if expanded 'text-lg'}}">
          {{model.name}}
        </span>
      </div>

      <div class="flex-1 flex flex-row-reverse">
        <span class="repo-card">
          {{svg-jar "github-issues" class="mr-1"}} 
          {{model.open_issues}}
        </span>
        <span class="repo-card">
          {{svg-jar "github-stargazers" class="mr-1"}} 
          {{model.stargazers_count}}
        </span>
        <span class="repo-card">
          {{svg-jar "code" class="mr-1"}} 
          {{model.language}}
        </span>
        <span class="repo-card">
          {{svg-jar "fork" class="mr-1"}} 
          {{model.forks}}
        </span>
        <span class="repo-card">
          {{or model.license.name 'Unknown'}}
        </span>
        <span class="repo-card">
          Last commit: {{moment-from-now model.pushed_at}}
        </span>
      </div>
    </div>
  </div>

  {{#if expanded}}
    <div class="flex bg-off-white border border-b-0 p-3">
      {{repository-factoid label="Default Branch" value=model.default_branch}}
    </div>
    <div class="bg-white cursor-pointer border border-b-0 p-3 shadow">
      More Stuff
    </div>
  {{/if}}
</div>
