<div class="drawer transition-fast mb-0 mt-0 group {{if expanded 'mb-3 mt-3 -ml-1 -mr-1'}} hover:-ml-1 hover:mr-1">
  <div class="bg-white cursor-pointer border border-b-0 p-3 shadow">
    <div class="group flex items-center">
      <div class="flex-1 flex flex-row items-center content-center">
        {{!-- <img
          class="m-1"
          src="https://circleci.com/gh/NYCPlanning/{{model.name}}.svg?style=svg"
          onerror={{action 'imageError'}}
        /> --}}
        <span class="font-bold">
          {{model.id}}
          {{log model.widgetData.0.attributes}}
          {{#if model.widgetData.0.attributes}}
            <small>Master {{model.widgetData.0.attributes.master.status}} {{model.widgetData.0.attributes.master.ahead_by}} {{model.widgetData.0.attributes.master.behind_by}}

            Develop {{model.widgetData.0.attributes.develop.status}} {{model.widgetData.0.attributes.develop.ahead_by}} {{model.widgetData.0.attributes.develop.behind_by}}</small>
          {{/if}}
        </span>
      </div>

    </div>
  </div>
</div>
